.container{
    margin: 2rem;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.players{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
    border-radius: 5%;
    background: #E6B0AA;
    
}

.player:hover{
    background-color: #F9EBEA;
}

.player button{
    margin: .5em;
}

.player button:hover{
    background-color: #CD6155;
    color:white;
}

.lineUp{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    background-color: #D6DBDF;
    margin-bottom: 2rem;
}

.titular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CD6155;
    color: white;
    padding: 0.2em;
    border-radius: 12px;
    height: 30%;
    width: 20%;
    border: 1px solid black;
}

.titular h3,p,button{
    margin: 5px 0px;
}

.titular button{
    background-color: white;
    color: black;
    padding: .5em;
    border-radius: 5%;
    border-style: none;
}

.player{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
    background-color: #E7E3E3;
}

.addPlayer{
    display:flex;
    padding: 1rem;
    justify-content: center;
}

.addPlayer form{
    display:flex;
    justify-content: center;
}

.btn-register{
    background-color: #5DADE2;
    color: white;
    padding: .5em;
    border-radius: 5%;
    border-style: none;
}

.input{
    margin: 0rem 1rem;
    padding: .5em;
}

#nameAd, #numberAd,#positionAd{
    visibility:hidden;
    color: red;
    font-size: x-small;
}

@media only screen and (max-width: 800px){
    .addPlayer{
        flex-direction: column;
    }
    .player{
        width:30%;
    }
}

@media only screen and (max-width: 600px){

    .container{
        font-size: small;
    }
    .titular{
        width: 30%;
    }
    .addPlayer{
        flex-direction: row;
    }
    .addPlayer form{
        flex-direction: column;
    }
    .player{
        width: 30%;
    }
    
}

